#video-metadata-form {
  padding: 20px;
}

#video-metadata-form input , input.form-control{

    border: 0;
    background: transparent;
    box-shadow: none;
    padding: 15px;
    padding: 10px 20px 10px 20px;
    width: 100%;
    max-width: 320px;
    background: #ececec;
    border-radius: 20px;
    
}