<div class="container" style="margin-top:10px;">
  <h3>Playlist : {{playlisName}}</h3>
  <ngx-datatable class="material" [columnMode]="'force'" [rows]="playList">
    <ngx-datatable-column name="Video Title" prop="video.title">
    </ngx-datatable-column>
    <ngx-datatable-column name="Video Path" prop="video.path">
    </ngx-datatable-column>
    <ngx-datatable-column name="Event Id" prop="eventId">
    </ngx-datatable-column>
    <ngx-datatable-column name="Event Name" prop="eventName">
    </ngx-datatable-column>
    <ngx-datatable-column name="Event Team" prop="eventTeam">
    </ngx-datatable-column>
    <ngx-datatable-column name="Event Start" prop="eventStart">
    </ngx-datatable-column>
    <ngx-datatable-column name="Event End" prop="eventEnd">
    </ngx-datatable-column>
  </ngx-datatable>
</div>