<div class="main-content">
  <div class="video-white-bg" id="text-overlay" *ngIf="enableOverlay && videoLoaded">

    <span class="video-date" *ngIf="(videoDate)">{{videoDate | date:"dd.MM.yyyy"}}</span>
    <h3 class="video-title" *ngIf="(videoType =='Training')"> {{videoType}}</h3>

    <h3 class="video-club1" *ngIf="club1trim && (videoType!='Training')">{{club1trim}}</h3>
    <div *ngIf="(videoType!='Training')" class="video-image-main">
      <img *ngIf="club1Detailslogo" [src]="baseVideoUrl + club1Detailslogo" alt="" class="img-responsive video-images team1-logo">
      <img *ngIf="!club2Detailslogo || club2Detailslogo == ''" src="assets/images/default-clublogo.png" class="img-responsive video-images team2-logo">
      <span class="video-score">
        <span *ngIf="scoreTeam1" class="score">{{scoreTeam1}}</span>:
        <span *ngIf="scoreTeam2" class="score">{{scoreTeam2}}</span>
      </span>
      <img *ngIf="club2Detailslogo" [src]="baseVideoUrl + club2Detailslogo" alt="" class="img-responsive video-images team1-logo">
      <img *ngIf="!club2Detailslogo || club2Detailslogo == ''" src="assets/images/default-clublogo.png" class="img-responsive video-images team2-logo">
    </div>
    <h3 class="video-club2" *ngIf="club2trim && (videoType!='Training')">{{club2trim}}</h3>
  </div>
  <div *ngIf="videoLoaded" class="video-box" #Container>

    <vg-player (onPlayerReady)="onPlayerReady($event)" (mousemove)="onmouseenter()
    " (mouseover)="onmouseenter() " (mouseleave)="onmouseleave() ">
      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>

      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>




      </vg-scrub-bar>


      <vg-controls [vgAutohide]="true" [vgAutohideTime]="1.5">
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar></vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <!--<vg-track-selector></vg-track-selector>-->
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
      </vg-controls>

      <video *ngIf="currentItem" [vgMedia]="media" #media id="sportanalysis-video" preload="auto" crossorigin [src]="currentItem.src">
        <!-- <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4"> -->
      </video>
    </vg-player>

  </div>
</div>
<div class="right-sidebar">
  <!-- <div class="show-chat" *ngIf="showChat" (click)="showChatWindow()">Show Chat</div>
  <div class="chat-list" *ngIf="chatList&&!showChat">
    <h4 class="chat-title">Live Chat</h4>
    <div class="chat-body" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <div class="msg-section" *ngFor="let chat of chatMessages">
        <div class="profile-pic">
          <img src="{{chat.profileImg}}" (error)="setDefaultPic(chat)">
        </div>
        <div class="user-name">
          <div class="name">{{chat.sender.firstName}} {{chat.sender.lastName}}
            <span class="send-time">{{chat.time | date:'dd/MM/yyyy HH:mm a'}}</span>
          </div>
          <div class="msg">{{chat.message}}

          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="msj-rta macro" style="margin:auto">
        <div class="text text-r clearfix">
          <div class="border-bottom">
            <input type="textarea" [(ngModel)]="message" class="send-text" placeholder="Type a message" (keyup.enter)="sendMessage()"
            />
            <button (click)="sendMessage()" class="send-message">
              <i class="fa fa-send"></i>
            </button>
            <i class="fa fa-smile-o"></i>

          </div>
          <div class="hide-chat-section" (click)="hideChatWindow()">
            Hide Chat
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <button *ngIf="sharedPlaylist" class="btn btn-flat btn-green btn-signup pull-right" [routerLink]="['/auth', 'register']">Sign Up</button>
  <button *ngIf="multiEid?.length > 0" class="btn btn-flat btn-danger pull-right" (click)="deleteSelected()">Delete Selected</button>
  <div class="match-info filters col-xs-12">
    <h2 class="title">
      <span class="title-span">Playlist</span>
    </h2>



  </div>
  <div class="match-status playlist col-xs-12">
    <div class="stats">
      <perfect-scrollbar>
        <ul *ngIf="playList && playList.length > 0">
          <ng-container *ngFor="let event of playList  | search:searchQuery ; let idx=index">

            <li>
              <md-checkbox *ngIf="userCanDelele && !sharedPlaylist" ng-model="event.checked" [checked]="event.checked" class="more-events"
                id="{{event._id}}" name="{{event._id}}" (change)="selectEvent($event,event)"></md-checkbox>
              <a style="display:block" class="playlist-info" href="#" id="{{event._id}}{{event.id}}" (click)="goToEvent($event,   idx)"
                *ngIf="event.eventStart !== 'NaN'">
                <div class="message-img">
                  {{fancyTimeFormat(event.eventStart)}}
                </div>

                <div class="message-list-content">
                  <h4 *ngIf="event.eventName">
                    <img style="visibility: hidden" [src]="getEventIcon(event.eventName)" alt="Event Icon" width="38" height="38"> {{event.eventName}} ({{event.eventTeam}})
                  </h4>
                  <h4 *ngIf="(event.club1Details.length > 0 && event.club2Details.length > 0 && !event.eventName)">
                    <img style="visibility: hidden" [src]="getEventIcon(event.eventName)" alt="Event Icon" width="38" height="38"> {{event.club1Details[0].name}} - {{event.club2Details[0].name}}
                  </h4>
                  <h4 *ngIf="(event.video.type == 'Training' && !event.eventName)">
                    <img style="visibility: hidden" [src]="getEventIcon(event.eventName)" alt="Event Icon" width="38" height="38"> {{event.video.title}}
                  </h4>


                </div>
                <div class="dots dropdown" dropdown [dropdownToggle]="false">
                  <button *ngIf="!sharedPlaylist" class="btn dropdown-toggle" type="button" dropdown-open>
                    <i class="dropbtn fa fa-ellipsis-h" aria-hidden="true"></i>
                  </button>
                  <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <!--<li (click)="createPlaylist(video._id,event,false)">Create Playlist</li>-->
                    <li id="event" (click)="shareEventlist(event)">Share</li>
                    <li *ngIf="userCanDelele" id="eventDelete" (click)="deletePlaylistItem(event)">Delete</li>
                    <!--<li class="dropdown-submenu">

                        <a id="event" *ngIf="isAdmin"  (click)="shareEventlist(video._id,event.id)">Share Event</a>
                        <a id="addtoplay"  (click)="addToPlaylist(video._id,event)">Add to playlist</a>
                        <a (click)="createPlaylist(video._id,event)">Create Playlist</a>
                        <a id="addtoplay" tabindex="-1" href="#">Add to playlist</a>
                        <ul class="dropdown-menu">
                          <li (click)="createPlaylist(video._id,event)">Create Playlist</li>
                          <li (click)="addToPlaylist(video._id,event)">Add to playlist</li>

                        </ul>
                      </li>-->
                  </ul>
                  <!-- <ul class="dropdown-menu">
                      <li (click)="createPlaylist(video._id,event.id)">Create Playlist</li>
                      <li (click)="addToPlaylist(video._id,event.id)">Add to playlist</li>
                    </ul>-->
                </div>
              </a>
            </li>


          </ng-container>
        </ul>
      </perfect-scrollbar>
    </div>
  </div>
</div>
<modal #ErrorModal class="error-modal">
  <modal-header>

  </modal-header>
  <modal-content>
    <p>
      <i class="fa fa-close" aria-hidden="true"></i>
    </p>
    <p>
      {{errormsg}}
    </p>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="closeModal()">Ok</button>
  </modal-footer>
</modal>
<modal #SucessModal>
  <modal-header>

  </modal-header>
  <modal-content>
    <p>
      <i class="fa fa-info" aria-hidden="true"></i>
    </p>
    <p>
      {{successmsg}}
    </p>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="SucessModal.close()">Ok</button>
  </modal-footer>
</modal>
<modal #assignEventModal>
  <modal-header>
  </modal-header>
  <modal-content>
    <p>
      Share with user
    </p>
    <div class="col-md-12">
      <label class="col-md-3 control-label"> Users: </label>
      <ss-multiselect-dropdown class="col-md-6" [options]="userlistOptions" [texts]="userlistTexts" [settings]="userlistSettings"
        [(ngModel)]="userlistModel"></ss-multiselect-dropdown>
    </div>
    <div class="form-group pull-left" style="margin-top: 5%" *ngIf="updateMessage">
      <span class="col-md-12">{{updateMessage}}</span>
    </div>
  </modal-content>
  <modal-footer>
    <button class=" btn btn-primary " [disabled]="!userlistModel || userlistModel?.length==0 " (click)="usersToEvent() ">Share</button>
    <button class="btn btn-primary " (click)="assignEventModal.close() ">Cancel</button>
  </modal-footer>
</modal>
