<div class="main-part">
  <div class="heading">
    <h2>Matches</h2>
    <div class="pull-right"><button [routerLink]="['/match']">Add Matches</button></div>
    <!--<p>Girone A</p>-->
  </div>
  <ul class="list-inline matches header">
    <li>Date</li>
    <li>Home Club</li>
    <li>Away Club</li>
    <li>Home Team</li>
    <li>Away Team</li>
    <li>Action</li>
  </ul>
  <perfect-scrollbar>
    <div class="scroll-matches">
      <div *ngIf="matches.length > 0">
        <ul class="list-inline matches" *ngFor="let match of matches">
          <li>{{match.date | date: 'yyyy-MM-dd'}} {{match.time}}</li>
          <li>
            <img *ngIf=" match.club1details[0].logo != ''" [src]="baseUrl + match.club1details[0].logo" alt="Home team">
            <img *ngIf=" match.club1details[0].logo == ''" src="assets/images/default-clublogo.png" alt="Home team">
            <span>{{match.club1details[0].name}}</span>
          </li>
          <li>
            <img *ngIf=" match.club2details[0].logo != ''" [src]="baseUrl + match.club2details[0].logo" alt="Away team">
            <img *ngIf=" match.club2details[0].logo == ''" src="assets/images/default-clublogo.png" alt="Home team">
            <span>{{match.club2details[0].name}}</span>
          </li>
          <li *ngIf="match.team1details.length > 0">{{match.team1details[0].name}}</li>
          <li *ngIf="match.team1details.length == 0">&nbsp;</li>
          <li *ngIf="match.team2details.length > 0">{{match.team2details[0].name}}</li>
          <li *ngIf="match.team2details.length == 0">&nbsp;</li>
          
          <li>
            <button class="btn btn-default" [routerLink]="['/match/',match._id]"><i class="fa fa-pencil-square-o text-info" aria-hidden="true"></i></button>
            <button type="button" [routerLink]="['/match/view/',match._id]" class="btn btn-default" aria-label="Left Align">
            <i class="fa fa-eye text-success" aria-hidden="true"></i>
          </button>
            <button type="button" (click)="deleteMatchById(match._id)" class="btn btn-default" aria-label="Left Align">
               <i class="fa fa-trash text-danger" aria-hidden="true"></i>
            </button>
          </li>
        </ul>
      </div>

      <ul *ngIf="matches.length == 0" class="list-inline matches">
        <li>No Matches Found</li>
      </ul>
    </div>
  </perfect-scrollbar>
</div>

<modal #SucessModal>
  <modal-header>

  </modal-header>
  <modal-content>
    <p>
      <i class="fa fa-check" aria-hidden="true"></i>
    </p>
    <p>
      {{successmsg}}
    </p>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="SucessModal.close()">Ok</button>
  </modal-footer>
</modal>

<modal #ErrorModal class="error-modal">
  <modal-header>

  </modal-header>
  <modal-content>
    <p>
      <i class="fa fa-close" aria-hidden="true"></i>
    </p>
    <p>
      {{errormsg}}
    </p>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" [routerLink]="['/home']" (click)="ErrorModal.close()">Ok</button>
  </modal-footer>
</modal>