<div class="container" style="margin-top:10px;">
  <h3>Playlist</h3>
  <ngx-datatable class="material" [columnMode]="'force'" [rows]="playList">
    <ngx-datatable-column name="Name">
    </ngx-datatable-column>
    <ngx-datatable-column name="Club" prop="user.club">
    </ngx-datatable-column>
    <ngx-datatable-column name="Action">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button (click)="assignUser(row._id)">Watch</button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>