footer{
    padding-top: 40px;
    color: #97989a;
    top: calc(100% - 100px);
}

.footer-li{
    border-top: 1px solid #dad9dd;
    margin-top: 10px;
}

.footer-li a{
    color: #97989a;
}

.footer-li p:first-child{
    margin-top: 10px;
    font-size: 11px;
}

ul.privacy{
    font-size: 11px;
}

ul.privacy li:first-child, ul.privacy li:nth-child(2){
    border-right: 1px solid #97989a;
}


@media screen and (max-width: 779px) {
    footer{
        float: left;
    }
}