<div class="clearfix message-box">
	<div class="col-md-8 message-content">
		<div class="clearfix">
			<div class="pull-left">
				<h2><i class="fa fa-envelope-o" aria-hidden="true"></i> Messages</h2>
			</div>
			<div class="pull-right showing-result">
				<p>Showing 1 to 6</p>
				<div class="message-cb-showing">
					<md-checkbox></md-checkbox>
				</div>
			</div>
		</div>
    <div class="message-scroll">
		<ul>
			<li>
				<img src="assets/images/img9.png">
				<h3>JannidWhite</h3>
				<p>Last match was really awsome till end...</p>
				<div class="message-date">
					<p>June 14</p>
					<div class="message-cb">
						<md-checkbox></md-checkbox>
					</div>
				</div>
			</li>
			<li>
				<img src="assets/images/img9.png">
				<h3>JannidWhite</h3>
				<p>Last match was really awsome till end...</p>
				<div class="message-date">
					<p>June 14</p>
					<div class="message-cb">
						<md-checkbox></md-checkbox>
					</div>
				</div>
			</li>
			<li>
				<img src="assets/images/img9.png">
				<h3>JannidWhite</h3>
				<p>Last match was really awsome till end...</p>
				<div class="message-date">
					<p>June 14</p>
					<div class="message-cb">
						<md-checkbox></md-checkbox>
					</div>
				</div>
			</li>
			<li>
				<img src="assets/images/img9.png">
				<h3>JannidWhite</h3>
				<p>Last match was really awsome till end...</p>
				<div class="message-date">
					<p>June 14</p>
					<div class="message-cb">
						<md-checkbox></md-checkbox>
					</div>
				</div>
			</li>
			<li>
				<img src="assets/images/img9.png">
				<h3>JannidWhite</h3>
				<p>Last match was really awsome till end...</p>
				<div class="message-date">
					<p>June 14</p>
					<div class="message-cb">
						<md-checkbox></md-checkbox>
					</div>
				</div>
			</li>
		</ul>
	</div>
  	</div>
	<div class="col-md-4 message-video">
		<div class="clearfix">
			<div class="pull-left">
				<a href="#"><i class="fa fa-video-camera" aria-hidden="true"></i> Last watched clips</a>
			</div>
			<div class="pull-right">
				<div class="last-watchd-clips">
					<span>
						<div class="dropdown" dropdown [dropdownToggle]="false">
							<button class="btn dropdown-toggle btn-match" type="button" dropdown-open>Match
									</button>
							<ul class="dropdown-menu">
								<li><a href="#">Match</a></li>
								<li><a href="#">Match</a></li>
								<li><a href="#">Match</a></li>
							</ul>
						</div>
					</span>
				</div>
			</div>
		</div>
    <div class="message-scroll">
		<ul>
			<li>
				<div class="message-img">
					<i class="fa fa-youtube-play" aria-hidden="true"></i>
				</div>
				<div class="message-list-content">
					<h4>Yellow_card.mp4 | 00.13</h4>
					<p>Friday, 9 June 2017</p>
					<div class="dots"><img src="assets/images/more.png"></div>
				</div>
			</li>
			<li>
				<div class="message-img">
					<i class="fa fa-youtube-play" aria-hidden="true"></i>
				</div>
				<div class="message-list-content">
					<h4>Yellow_card.mp4 | 00.13</h4>
					<p>Friday, 9 June 2017</p>
					<div class="dots"><img src="assets/images/more.png"></div>
				</div>
			</li>
			<li>
				<div class="message-img">
					<i class="fa fa-youtube-play" aria-hidden="true"></i>
				</div>
				<div class="message-list-content">
					<h4>Yellow_card.mp4 | 00.13</h4>
					<p>Friday, 9 June 2017</p>
				  <div class="dots"><img src="assets/images/more.png"></div>
				</div>
			</li>
			<li>
				<div class="message-img">
					<i class="fa fa-youtube-play" aria-hidden="true"></i>
				</div>
				<div class="message-list-content">
					<h4>Yellow_card.mp4 | 00.13</h4>
					<p>Friday, 9 June 2017</p>
					<div class="dots"><img src="assets/images/more.png"></div>
				</div>
			</li>
			<li>
				<div class="message-img">
					<i class="fa fa-youtube-play" aria-hidden="true"></i>
				</div>
				<div class="message-list-content">
					<h4>Yellow_card.mp4 | 00.13</h4>
					<p>Friday, 9 June 2017</p>
					<div class="dots"><img src="assets/images/more.png"></div>
				</div>
			</li>
			<li>
				<div class="message-img">
					<i class="fa fa-youtube-play" aria-hidden="true"></i>
				</div>
				<div class="message-list-content">
					<h4>Yellow_card.mp4 | 00.13</h4>
					<p>Friday, 9 June 2017</p>
					<div class="dots"><img src="assets/images/more.png"></div>
				</div>
			</li>
		</ul>
    	</div>
	</div>
		
	</div>