<div class="container videos-list" *ngIf="clubActive">
  <!--<p  class="upload-search">
    <a [routerLink]="['/videos/upload']">Upload Video</a>
  </p>-->

  <p class="upload-search clearfix">
    <span class=viewbtns>
      <i (click)="gridView()" [ngClass]="{'active':grid}" class="fa fa-table" aria-hidden="true"></i>
      <i (click)="listView()" [ngClass]="{'active':list}" class="fa fa-list" aria-hidden="true"></i>
    </span>

    <input type="text" class="form-control search-btn" placeholder="Search" [(ngModel)]="searchQuery" />

    <!-- <md-radio-group id="type" [(ngModel)]="video_type" name="type" (change)="typeFilter()">
      <md-radio-button value="All">All</md-radio-button>
      <md-radio-button value="Match">Match</md-radio-button>
      <md-radio-button value="Event">Event</md-radio-button>
      <md-radio-button value="Training">Training</md-radio-button>
      <md-radio-button value="Telestration">Telestration</md-radio-button>
    </md-radio-group> -->
    <!--<label>Video Type:  </label>
    <select class="sportscode" name="type" required [(ngModel)]="video_type" (ngModelChange)="typeFilter()" style="font-size: 18px; font-weight: normal;">
                      <option>All</option>
                      <option>Match</option>
                      <option>Event</option>
                      <option>Training</option>
                      <option>Telestration</option>
                  </select>-->
  </p>





  <div class="col-md-12">
    <h3 class="recent col-md-6">Recent Videos</h3>
    <div class="col-md-6">
      <button *ngIf="list && isCoach" class="btn btn-default pull-right" (click)="deleteSelected()">Delete Videos</button>
    </div>
  </div>
  <perfect-scrollbar *ngIf="grid">
    <div class="all-videos col-md-12" *ngIf="videoList">
      <!--<ul class="list-unstyled video-list-thumbs row" *ngIf="videoList">
    <li class="col-lg-3 col-sm-4 col-xs-6" *ngFor="let video of videoList">-->
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor="let video of videoList | search:'title,type,team1,team2,clubname1,clubname2':searchQuery">
        <a [routerLink]="['/videos/view', video._id]">
          <img [src]="baseVideoUrl + video.screenshot_path" alt="video-screenshot" class="img-responsive video-ss" height="130px" />
          <span class="glyphicon glyphicon-play-circle play-btn"></span>
          <span class="duration">{{video.type}}</span>

          <!-- <span class="durationn">02:11:16</span> -->
          <div class="teams">
            <!-- <ul class="list-inline">
            <li><img src="assets/images/img1.png" class="img-responsive"></li>
            <li>1 : 2</li>
            <li><img src="assets/images/img2.png" class="img-responsive"></li>
          </ul>-->
            <tr>
              <td>
                <img *ngIf="(video.club1details.length > 0 && video.club1details[0].logo) && (video.type!='Training')" [src]="baseVideoUrl + video.club1details[0].logo"
                  alt="" class="img-responsive">
                <img *ngIf="(video.club1details.length <= 0 || !video.club1details[0].logo || video.club1details[0].logo == '') && (video.type!='Training')"
                  src="assets/images/default-clublogo.png" class="img-responsive">
              </td>

              <td *ngIf="(video.scoreTeam1 && video.scoreTeam2) && (video.type!='Training')">{{video.scoreTeam1}} : {{video.scoreTeam2}}</td>
              <td *ngIf="(!video.scoreTeam1 || !video.scoreTeam2) && (video.type!='Training')">0 : 0</td>
              <td>
                <img *ngIf="(video.club2details.length > 0 && video.club2details[0].logo) && (video.type!='Training')" [src]="baseVideoUrl + video.club2details[0].logo"
                  alt="" class="img-responsive">
                <img *ngIf="(video.club2details.length <= 0 || !video.club2details[0].logo || video.club2details[0].logo == '') && (video.type!='Training')"
                  src="assets/images/default-clublogo.png" class="img-responsive">
              </td>
            </tr>
          </div>
          <!--<div class="one-team">
        <img src="assets/images/real.png" class="img-responsive">
    </div>
      <div class="player-name">
          Player Name
      </div>-->
          <div class="video-white-bg">

            <h2 class="video-title" *ngIf="(video.type=='Training')">{{video.title}}</h2>
            <h2 class="video-title" *ngIf="(video.type!='Training')">
              <span *ngIf="video.club1details.length > 0 && video.club1details[0].name">{{video.club1details[0].name}}</span> -
              <span *ngIf="video.club2details.length > 0 && video.club2details[0].name">{{video.club2details[0].name}}</span>
            </h2>
            <div class="date">
              <ul class="list-inline">
                <!-- <li> 2414 views </li> -->
                <li class="title-grid" *ngIf="(video.title != 'undefined' && video.type!='Training')">{{video.title}}</li>
                <li>{{video.date | date:"dd.MM.yyyy"}}</li>
                <li *ngIf="isCoach || isAdmin" class="video-delete" title="Delete">
                  <i (click)="confirmDelete(video._id,$event)" class="fa fa-trash grid-delete-btn" aria-hidden="true"></i>
                </li>
                <li *ngIf="isCoach || isAdmin" title="Share">
                  <i (click)="assignVideo(video._id,$event)" class="fa fa-share-alt text-success"></i>
                </li>
                <li *ngIf="isCoach || isAdmin" title="Download">
                  <i (click)="downloadVideo(video,$event)" class="fa fa-download text-info"></i>
                </li>
                <li *ngIf="isCoach || isAdmin" title="Settings">
                  <i class="fa fa-cog text-info" (click)="settingsVideo(video,$event)"></i>
                </li>
                <li id="addtoplay" title="AddToPlaylist">
                  <i class="fa fa fa-sliders text-info" (click)="addToPlaylist(video._id,$event,false)"></i>
                </li>
                <!-- <li *ngIf="isCoach || isAdmin" title="Feedback">
                  <i (click)="addFeedbacks(video,$event)" class="fa fa-comments text-success"></i>
                </li> -->
              </ul>
            </div>
          </div>
        </a>

        <!-- </li>
  </ul>-->
      </div>
    </div>
  </perfect-scrollbar>
  <perfect-scrollbar *ngIf="list">


    <div class="all-videos col-md-12" *ngIf="videoList">
      <!--<ul class="list-unstyled video-list-thumbs row" *ngIf="videoList">
    <li class="col-lg-3 col-sm-4 col-xs-6" *ngFor="let video of videoList">-->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 list-view" style="padding-top: 10px">
        <ul class="list-inline video-list-details">
          <li *ngIf="isCoach" class="checkbox">
            <md-checkbox [(ngModel)]="isAllSelected" (change)="onChangeOfcheckAll($event)"> </md-checkbox>
          </li>
          <li></li>

          <li class="title date-first">Date</li>
          <li class="result">Result</li>
          <li class="hometeam">Home Team</li>
          <li class="awayteam">Away Team</li>
          <li class="title">Title</li>
          <li class="type">Type</li>

          <li *ngIf="isCoach || isAdmin">Action</li>
        </ul>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 list-view" *ngFor="let video of videoList |  search:'title,type,team1,team2,clubname1,clubname2':searchQuery">

        <a [routerLink]="['/videos/view', video._id]">
          <ul class="list-inline video-list-details">
            <li *ngIf="isCoach" class="checkbox">
              <md-checkbox [(ngModel)]="video.isSelected" (click)="stop($event)" (change)="onChangeOfCheckbox($event,video)"> </md-checkbox>
            </li>
            <li>
              <img [src]="baseVideoUrl + video.screenshot_path" alt="video-screenshot" class="img-responsive video-ss" height="130px" />
            </li>

            <!-- <div class="list-view-sideidetail">-->
            <li class="views-date title date-first"> {{video.date | date:"dd.MM.yyyy"}}</li>

            <li class="teams-result result">
              <!-- <ul class=" list-inline ">
                    <li><img src="assets/images/img1.png " class="img-responsive "></li>
                    <li>1 : 2</li>
                    <li><img src="assets/images/img2.png " class="img-responsive "></li>
                </ul>-->
              <span class="first-team ">
                <img *ngIf="(video.club1details.length> 0 && video.club1details[0].logo) && (video.type!='Training')" [src]="baseVideoUrl + video.club1details[0].logo"
                  alt="" class="img-responsive">
                <img *ngIf="(video.club1details.length <= 0 || !video.club1details[0].logo || video.club1details[0].logo == '') && (video.type!='Training')"
                  src="assets/images/default-clublogo.png" class="img-responsive">
              </span>
              <span *ngIf="(video.scoreTeam1 && video.scoreTeam2) && (video.type!='Training')">{{video.scoreTeam1}} : {{video.scoreTeam2}}</span>
              <span *ngIf="(!video.scoreTeam1 || !video.scoreTeam2) && (video.type!='Training')">0 : 0</span>
              <span class="second-team">
                <img *ngIf="(video.club2details.length > 0 && video.club2details[0].logo) && (video.type!='Training')" [src]="baseVideoUrl + video.club2details[0].logo"
                  alt="" class="img-responsive">
                <img *ngIf="(video.club2details.length <= 0 || !video.club2details[0].logo || video.club2details[0].logo == '') && (video.type!='Training')"
                  src="assets/images/default-clublogo.png" class="img-responsive">
              </span>
            </li>

            <li class="hometeam">
              <!-- <h2 class="video-title" *ngIf="(video.type=='Training')">{{video.title}}</h2> -->
              <h2 class="video-title" *ngIf="(video.type!='Training')">
                <span *ngIf="video.club1details.length > 0 && video.club1details[0].name">{{video.club1details[0].name}}</span>
              </h2>
            </li>
            <li class="awayteam">
              <!-- <h2 class="video-title" *ngIf="(video.type=='Training')">{{video.title}}</h2> -->
              <h2 class="video-title" *ngIf="(video.type!='Training')">
                <span *ngIf="video.club2details.length > 0 && video.club2details[0].name">{{video.club2details[0].name}}</span>
              </h2>
            </li>
            <li class="title">
              <span *ngIf="(video.title != 'undefined')">{{video.title}}</span>
            </li>
            <li class="type">{{video.type}}</li>


            <!--   <li class="video-info-list">
          <span class="glyphicon glyphicon-play-circle play-btn"></span>

                <div class="date">
                    
                    <ul class="list-inline">
                          
                    </ul>
                </div>
              
              </li>-->

            <li *ngIf="isCoach || isAdmin" class="video-info-list">
              <i (click)="confirmDelete(video._id,$event)" title="Delete" class="fa fa-trash video-delete" aria-hidden="true"></i>
              <i (click)="assignVideo(video._id,$event)" title="Share" class="fa fa-share-alt text-success"></i>
              <i (click)="downloadVideo(video,$event)" title="Download" class="fa fa-download text-info"></i>
              <i class="fa fa-cog text-info" title="Settings" (click)="settingsVideo(video,$event)" aria-hidden="true"></i>
              <i class="fa fa fa-sliders text-info" title="AddToPlaylist" (click)="addToPlaylist(video._id,$event,false)"></i>

            </li>

          </ul>
        </a>

      </div>
    </div>
  </perfect-scrollbar>

  <ngx-datatable class="material" [limit]="page.limit" [headerHeight]="35" [footerHeight]="50" [columnMode]="'force'" [rows]="videoList"
    [loadingIndicator]="loadingIndicator" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
    (page)='setPage($event)' [externalSorting]="true" (sort)="onSort($event)">

    <ngx-datatable-column name="_id">

      <ng-template let-column="_id" ngx-datatable-header-template>
        Type
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>

        {{value}}
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>


  <div #htmldiv>
    <a #lnkDownloadLink style="display: none;" target="_self" href="{{videoUrl}}" download="{{videoOriginalName}}">downlaod</a>
  </div>

</div>
<modal #SucessModal>
  <modal-header>

  </modal-header>
  <modal-content>
    <p>
      <i class="fa fa-check" aria-hidden="true"></i>
    </p>
    <p>
      {{successmsg}}
    </p>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="SucessModal.close()">Ok</button>
  </modal-footer>
</modal>
<modal #ErrorModal class="error-modal">
  <modal-header>

  </modal-header>
  <modal-content>
    <p>
      <i class="fa fa-close" aria-hidden="true"></i>
    </p>
    <p>
      {{errormsg}}
    </p>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="ErrorModal.close()">Ok</button>
  </modal-footer>
</modal>

<modal #videoSucessModal>
  <modal-header>

  </modal-header>
  <modal-content>
    <p>
      <i class="fa fa-check" aria-hidden="true"></i>
    </p>
    <p>
      {{successmsg}}
    </p>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="videoSucessModal.close()">Ok</button>
  </modal-footer>
</modal>
<modal #assignVideoModal>
  <modal-header>
  </modal-header>
  <modal-content>
    <p>
      {{eventmodeltitle}}
    </p>
    <div class="col-md-12" *ngIf="!feedbackFlag" style="padding-bottom: 5px;">
      <label class="col-md-3 control-label"> Users: </label>
      <ss-multiselect-dropdown class="col-md-8" [options]="userlistOptions" [texts]="userlistTexts" [settings]="userlistSettings"
        [(ngModel)]="userlistModel"></ss-multiselect-dropdown>
    </div>
    <div class="col-md-12">
      <label class="col-md-3 control-label">Public Link: </label>
      <input type="hidden" class="col-md-4 form-control" id="elem1" style="word-break: break-all;" value="{{publicVideoUrl}}" />
      <!-- <textarea class="col-md-7 form-control" readonly id="elem1" style="display:none;word-break: break-all;margin-left: 15px;">{{publicVideoUrl}}
      </textarea> -->
      <!-- <button *ngIf="shareEventFlag" class="btn btn-secondary" (click)="copyElementText('elem1')"> -->
      <i class="fa fa-files-o fa-lg text-info" title="Copy URL" style="padding-left:5%;cursor: pointer;" aria-hidden="true" (click)="copy(publicVideoUrl)"></i>
      <!-- </button> -->
      <span *ngIf="isCopied" class="text-info" style="padding-left:1%"> Copied!</span>


    </div>
    <!-- <div class="col-md-12" *ngIf="feedbackFlag" style="padding-bottom: 5px;">
        <label class="col-md-3 control-label"> Name: </label>
        <div class="col-md-9">
          <input type="text" [(ngModel)]="feedbackname" class="form-control" placeholder="Feedback Name" />
  
        </div>
      </div> -->
    <div class="col-md-12 no-padding" *ngIf="feedbackFlag" style="padding-bottom: 5px;">
      <!-- <label class="col-md-3 control-label"> Feedback: </label> -->
      <div class="col-md-12 no-padding">
        <div class="main-div-bg clearfix">

          <div class="enter-name-input clearfix">
            <label class="col-md-3 no-padding control-label"> Name: </label>
            <div class="col-md-9 no-padding">
              <input type="text" [(ngModel)]="feedbackname" class="form-control name-input" placeholder="Feedback Name" />
            </div>
          </div>
        </div>
        <!-- <textarea [(ngModel)]="feebackMsg" class="form-control" placeholder="Enter Feedback"></textarea> -->
        <div class="chat-list no-padding">
          <div class="chat-body chat-body-box" #scrollMe [scrollTop]="scrollMe.scrollHeight">
            <div class="msg-section" *ngFor="let chat of feedbackMessages">
              <div class="profile-pic">
                <img src="{{chat.profileImg}}" (error)="setDefaultPic(chat)">
              </div>
              <div class="user-name">
                <div class="name">{{chat.user.firstName}} {{chat.user.lastName}}
                  <span class="send-time">{{chat.createdAt | date:'dd/MM/yyyy HH:mm a'}}</span>
                </div>
                <div class="msg">{{chat.message}}</div>
              </div>

            </div>
            <!-- <i class="fa fa-arrow-down"></i> -->
          </div>
          <div>
            <div class="msj-rta macro" style="margin:auto">
              <div class="text text-r clearfix">
                <div class="select-input clearfix">
                  <label class="col-md-3 no-padding control-label" style="color:white"> Users: </label>
                  <ss-multiselect-dropdown class="col-md-9 no-padding " [options]="userlistOptions" [texts]="userlistTexts" [settings]="userlistSettings"
                    [(ngModel)]="userlistModel"></ss-multiselect-dropdown>
                </div>
                <div class="border-bottom no-border">
                  <input type="textarea" [(ngModel)]="feebackMsg" class="send-text" placeholder="Type a message" (keyup.enter)="videoFeedback('video')"
                  />
                  <i (click)="assignVideoModal.close()" class="fa fa-times"></i>
                  <button [disabled]="!userlistModel || userlistModel?.length==0 || feebackMsg=='' || feedbackname==''" (click)="videoFeedback('video')"
                    class="send-message">
                    <i class="fa fa-send"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group pull-left" style="margin-top: 5%" *ngIf="updateMessage">
      <span class="col-md-12">{{updateMessage}}</span>
    </div>
  </modal-content>
  <modal-footer *ngIf="shareEventFlag">

    <button *ngIf="shareEventFlag" class="btn btn-primary" [disabled]="!userlistModel || userlistModel?.length==0 " (click)="usersToVideo() ">Share</button>

    <!-- <button *ngIf="feedbackFlag" class="btn btn-primary" [disabled]="!userlistModel || userlistModel?.length==0 || feebackMsg=='' || feedbackname==''"
        (click)="eventFeedback() ">Feedback</button> -->
    <button class="btn btn-primary " (click)="assignVideoModal.close() ">Cancel</button>
  </modal-footer>
</modal>
<!-- <modal #assignVideoModal>
  <modal-header>


  </modal-header>
  <modal-content>
    <p>
      Share Video
    </p>
    <div class="col-md-12">
      <label class="col-md-3 control-label"> Users: </label>
      <ss-multiselect-dropdown class="col-md-6" [options]="userlistOptions" [texts]="userlistTexts" [settings]="userlistSettings"
        [(ngModel)]="userlistModel"></ss-multiselect-dropdown>
    </div>
    <div class="form-group pull-left" style="margin-top: 5%" *ngIf="updateMessage">
      <span class="col-md-12">{{updateMessage}}</span>
    </div>
  </modal-content>
  <modal-footer>

    <button class=" btn btn-primary " [disabled]="!userlistModel || userlistModel?.length==0 " (click)="usersToVideo() ">Share</button>
    <button class="btn btn-primary " (click)="assignVideoModal.close() ">Cancel</button>


  </modal-footer>
</modal> -->
<modal #createPlaylistModal class="error-modal">
  <modal-header>
  </modal-header>
  <modal-content *ngIf="create">
    <p>
      Create Playlist
    </p>
    <form (ngSubmit)="addPlaylist()" #documentEditForm="ngForm">
      <div class="col-md-12">
        <div class="form-group">
          <label class="col-md-4 control-label">Name</label>
          <input type="text" name="playlistName" [(ngModel)]="playlistName" #playlist="ngModel" class="form-control col-md-6" placeholder="Playlist Name"
            required>
        </div>
      </div>
      <div class="col-md-12" style="margin-top: 10px;">
        <div class="form-group">
          <label class="col-md-4 control-label">Users</label>
          <ss-multiselect-dropdown name="sharePlaylistWithUsers" style="padding: 0;" class="col-md-6" [options]="userlistOptions" [texts]="userlistTexts"
            [settings]="userlistSettings" [(ngModel)]="userlistModel"></ss-multiselect-dropdown>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group pull-left" style="margin-top: 5%" *ngIf="saveMessage">
          <span class="col-md-12">{{saveMessage}}</span>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" [disabled]="!documentEditForm.form.valid">Create playlist</button>
        <button *ngIf="!multiplay" class="btn btn-primary" (click)="create = false;">Back</button>
        <button class="btn btn-primary" (click)="createPlaylistModal.close()">Cancel</button>
      </div>
    </form>
  </modal-content>
  <modal-content *ngIf="!create">
    <p>
      Add To Playlist
    </p>
    <div class="form-group">
      <label class="col-md-4 control-label">Select Playlist</label>
      <ss-multiselect-dropdown class="col-md-5" [options]="playlistOptions" [texts]="playlistTexts" [settings]="playlistSettings"
        [(ngModel)]="playlistModel" (ngModelChange)="onChangeEvent($event)"></ss-multiselect-dropdown>
    </div>
    <div class="form-group pull-left" style="margin-top: 5%" *ngIf="updateMessage">
      <span class="col-md-12">{{updateMessage}}</span>
    </div>
  </modal-content>
  <modal-footer *ngIf="!create">
    <button class=" btn btn-primary " [disabled]="!playlistModel || playlistModel?.length==0 " (click)="updatePlaylist() ">Add</button>
    <button class="btn btn-primary" *ngIf="!multiplay" (click)="createPlaylist(video,event,false)">Create playlist</button>
    <button class="btn btn-primary " (click)="createPlaylistModal.close() ">Cancel</button>
  </modal-footer>

</modal>
