

 <div class="inner" *ngIf="uploading">
  <div class="center-all">
    
    <div class="uploading">Uploading.. {{progress}}%  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i></div>
    <div class="bar">
        <div class="progress">
          <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100" [style.width]="progress + '%'">
            
          </div>
        </div>
      </div>  
  </div>
</div>

  <div class="panel panel-default">
    <div class="panel-heading">Upload to Sportanalysis.tv</div>
    <div class="panel-body">
      

      <div class="row container">
       
        <div class="form-group col-sm-12 text-center" id="upload-area">
          <label for="attachments" style="width:100%">
            <div class="dropzone_cont" id="dropzone" (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragenter)="onDragEnter($event)">
              <img src="/assets/icons/upload.svg" alt="upload" class="image-responsive upload-icon">
              <h4>Select the file to upload</h4>
              <p class="or">or</p>
              <p class="drag-file">
                <i class="fa fa-file-video-o" aria-hidden="true"></i> Drag file here
              </p>
              <span *ngIf="selectedFile.name">{{selectedFile.name}} - {{getSizeInMB(selectedFile.size)}}</span>
              <span *ngIf="!selectedFile.name">&nbsp;
                <span *ngIf="!f.form.valid && f._submitted" style="color:red">Please select Video file</span>
              </span>
            </div>
            <input type="file" (change)="onSelectFile($event)" name="attachments" [(ngModel)]="attachments" id="attachments" style="display:none">
          </label>
        </div>
        <form class="form-inline  col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 text-center" id="video-metadata" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate [ngClass]="{'submited' : f._submitted}">
          <div class="form-group">
            <input type="title" [(ngModel)]="name" class="form-control" name="title" id="video-name" placeholder="Video Name" required>
          </div>
          <div class="form-group">
            <input [(ngModel)]="date" class="form-control" name="date" ngui-datetime-picker date-only="true" placeholder="Date of event"
              required>
          </div>
          <div class="form-group">
            <md-radio-group required [(ngModel)]="type" name="type">
              <md-radio-button value="Match">Match</md-radio-button>
              <md-radio-button value="Event">Event</md-radio-button>
              <md-radio-button value="Training">Training</md-radio-button>
            </md-radio-group>
          </div>
         
          <div class="upload-div">
           <button class="btn btn-round btn-blue-outline btn-upload" type="submit" [disabled]="!f.form.valid && f._submitted">Upload Video</button>
          </div>
        </form>
      </div>
    </div>
  
</div>
 <div class="panel panel-default video-area" *ngIf="false">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="video-name">
              <select class="select-box">
                <option>Video name</option>
                <option>1</option>
              </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="event-date">
            <select class="select-box">
                <option>Date of event</option>
                <option>1</option>
            </select>
          </div>
        </div>
    </div>
    <div class="panel-body">
    
      <div class="events">
        <div class="col-md-8 col-sm-12">
          <i class="fa fa-video-camera" aria-hidden="true"></i> <h4> First goal </h4>
        </div>
        <div class="col-md-4 col-sm-12">
            <h4> Thursday, 15 June 2017 </h4> <i class="fa fa-trash-o" aria-hidden="true"></i>
        </div>
      </div>
      <div class="events">
        <div class="col-md-8 col-sm-12">
          <i class="fa fa-video-camera" aria-hidden="true"></i> <h4> First goal </h4>
        </div>
        
        <div class="col-md-4 col-sm-12">
            <h4> Thursday, 15 June 2017 </h4> <i class="fa fa-trash-o" aria-hidden="true"></i>
        </div>
      </div>
      <div class="events">
        <div class="col-md-8 col-sm-12">
          <i class="fa fa-video-camera" aria-hidden="true"></i> <h4> First goal </h4>
        </div>
        <div class="col-md-4 col-sm-12">
            <h4> Thursday, 15 June 2017 </h4> <i class="fa fa-trash-o" aria-hidden="true"></i>
        </div>
      </div>
    </div>
</div>