
<div class="article-info">
		<div class="match-info match-status col-xs-12">
			<h2 class="title">Match Info</h2>
			<div class="match-club  clearfix">
				<div class="club-img"><img src="assets/images/img2.png" class="img-responsive"></div>
				<div class="club-content">
					<h2>Final - Cardiff</h2>
					<h4>Sunday 4 June</h4>
				</div>
				<div class="club-img"><img src="assets/images/img1.png" class="img-responsive"></div>
				<div class="clearfix match-result">
					<h1>1 - 4</h1>
				</div>
			</div>
			<div class="clearfix player-info">
				<div class="pull-left col-xs-6">
					<a href="#">Mandzukic 27'</a>
				</div>
				<div class="pull-right col-xs-6">
					<a href="#">20'.64' Ronaldo</a>
					<a href="#">61' Casemiro</a>
					<a href="#">90' +1 Asensio</a>
				</div>
			</div>
		</div>
		<div class="tactics match-status col-xs-12">
			<h2 class="title">Tactics</h2>
			<ul>
				<li>
					<div class="tactics-box">
						<img src="assets/images/tac3.png" class="img-responsive">
					</div>
					<p>Build ups</p>
				</li>
				<li>
					<div class="tactics-box">
						<img src="assets/images/tac2.png" class="img-responsive">
					</div>
					<p>Ball Lost</p>
				</li>
				<li>
					<div class="tactics-box">
						<img src="assets/images/tac1.png" class="img-responsive">
					</div>
					<p>Counter attacks</p>
				</li>
			</ul>
		</div>
		<div class="match-alerts match-status col-xs-12">
			<h2 class="title">Alerts</h2>
			<p>Final report, statistics and expert analysis
				Stats: Madrid and Ronaldo rewrite record books</p>
				<p>
				Four reasons why there was no stopping Madrid</p>
				<p>Ronaldo pips Messi to top scorer prize
				Ronaldo matches record of Iniesta and Seedorf
			</p>
		</div>
	</div>