<div class="main-content">
  <div class="video-box">
    <vg-player *ngIf="video && playlist" (onPlayerReady)="onPlayerReady($event)">
      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>

      <vg-scrub-bar *ngIf="currentIndex===1">
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        <vg-scrub-bar-cue-points class="customCuePoints" [vgCuePoints]="metadataTrack.cues" [vgFor]="sportanalysis-video"></vg-scrub-bar-cue-points>
      </vg-scrub-bar>

      <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar></vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <!--<vg-track-selector></vg-track-selector>-->
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
      </vg-controls>

      <video [vgMedia]="media" #media id="sportanalysis-video" preload="auto" crossorigin [src]="currentItem.src">
        <!-- <source [src]="currentItem.src" [type]="currentItem.type"> -->
        <track src="assets/data/cue-points.vtt" kind="metadata" label="Cue Points" default #metadataTrack vgCuePoints (onEnterCuePoint)="onEnterCuePoint($event)"
          (onExitCuePoint)="onExitCuePoint($event)">
      </video>
    </vg-player>
  </div>
  <div class="video-timeline" *ngIf="currentIndex===1">
    <div class="clearfix">

    </div>
    <div class="clearfix">
      <div class="pull-left video-controls-custom">
        <ul>
          <li><i class="fa fa-step-forward" aria-hidden="true"></i></li>
          <li><i class="fa fa-forward" aria-hidden="true"></i></li>
          <li><i class="fa fa-play" aria-hidden="true"></i></li>
          <li><i class="fa fa-backward" aria-hidden="true"></i></li>
          <li><i class="fa fa-step-backward" aria-hidden="true"></i></li>
          <li class="info"><i class="fa fa-info" aria-hidden="true"></i></li>
          <li class="setting-icon"><i class="fa fa-cog" aria-hidden="true"></i></li>
          <li class="trash-icon"><i class="fa fa-trash-o" aria-hidden="true"></i></li>
          <li><i class="fa fa-list-ul" aria-hidden="true"></i></li>
        </ul>
      </div>
      <div class="pull-right">
        <div class="timeline-info">
          <i class="fa fa-files-o" aria-hidden="true"></i>Timeline
        </div>
      </div>
    </div>
  </div>
  <div class="scroll-time" *ngIf="currentIndex===1">
    <div class="timeline-left">
      <div class="video-select-box clock">

        <div class="clock-time">
          <i class="fa fa-clock-o" aria-hidden="true"></i> 0:00;{{fancyVideoDuration}}
        </div>
      </div>

      <div class="form-group clearfix" style="font-size: 12px; text-align: center" *ngFor="let evtGroup of videoEvents" [ngClass]="{'active': checkIfCurrentTime(evtGroup)}">
        <div class="input-group">
          <i style="max-width: 20px; width: 100%; float: left; margin-top: 9px;" class="fa fa-eye" aria-hidden="true"></i>
          <div class="" style="max-width: 80px; width: 100%; float: left; margin-top: 7px;" (click)="fillQueue(evtGroup)">
            {{evtGroup.key}}
          </div>
          <div class="input-group-btn">
            <div class="video-select-box">
              <div class="dropdown" dropdown [dropdownToggle]="false">
                <button class="btn btn-primary dropdown-toggle" type="button" dropdown-open></button>
                <ul class="dropdown-menu">
                  <li *ngFor="let evt of evtGroup.values"><a href="#" (click)="goToEvent($event, evt)">{{evt.team}} ({{evt.start}}s-{{evt.end}}s)</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="timeline-right">
      <perfect-scrollbar #eventTimelineScrollbar>
        <div class="clearfix">
          <div class="unvisible-scroll">
            <!-- <div class="video-select-timeline time" [style.width]="(roundedDuration*10) +'px'"> -->
            <div class="video-select-timeline time">
              <div class="timeline-time" [style.left]="sec+'%'" *ngFor="let sec of 100 | numberCollection">
                <span *ngIf="sec%20===0 && sec!==0 && sec!==100">{{sec*roundedDuration/100}}sec</span>
              </div>
              <ion-range-slider class="range-slider" type="single" min="0" max="{{roundedDuration*100}}" from="{{currentVideoTime*100}}"
                from_min="0" from_max="{{roundedDuration*100}}" step="0.0001" (onChange)="onChangeTimelineSlider($event)"></ion-range-slider>
            </div>
          </div>
        </div>

        <div class="box-container" style="width:100%" (click)="timelineClicked($event, timelineContainer.getBoundingClientRect())" #timelineContainer>
          <perfect-scrollbar class="perfect-scrollbar-timeline">
            <div class="video-select clearfix" style="width:100%" *ngFor="let evtGroup of videoEvents" [ngClass]="{'active': checkIfCurrentTime(evtGroup)}">
              <!-- timeline preview -->
              <div class="video-select-timeline" style="width:100%">
                <div *ngFor="let evt of evtGroup.values" class="video-line" [ngClass]="{'active': checkIfCurrentEvent(evt)}" [style.left]="evt.start/roundedDuration*100 + '%'"
                  [style.width]="evt.duration/roundedDuration*100+'%'"></div>
              </div>
              <!-- end of timeline preview -->
            </div>
          </perfect-scrollbar>
        </div>

      </perfect-scrollbar>
    </div>
  </div>
  <div *ngIf="cuePointData?.title" class="info-layer">
    <h3>{{ cuePointData?.title }}</h3>
  </div>
</div>
<div class="right-sidebar">
  <div class="match-info filters col-xs-12">
    <h2 class="title">
      Filters
      <span class="settings"><a *ngIf="video" [routerLink]="['/videos/settings', video._id]">Settings</a></span>
      <img src="assets/images/filter-circle.png" alt="Circle" class="pull-right">
    </h2>


    <div class="match-club  search clearfix form-inline">
      <div class="form-group">
        <label class="control-label" for="inputSuccess4"></label>
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchQuery">
        <span *ngIf="false"><img src="assets/images/search.png" alt="Search"></span>
      </div>
    </div>

  </div>
  <div class="events-list match-status col-xs-12">
    <h2 class="title">Event list</h2>

  </div>

  <div class="match-status playlist col-xs-12">
    <div class="stats">
      <perfect-scrollbar>
        <ul>
          <ng-container *ngFor="let event of trackingJsonData | search:'team,name':searchQuery">

            <li>
              <a style="display:block" class="playlist-info" href="#" (click)="goToEvent($event, event)" *ngIf="event.start !== 'NaN'">
                <div class="message-img">
                  <img src="assets/images/camera.png" alt="Camera">
                </div>
                <div class="message-list-content">
                  <h4>{{event.name}} [{{event.team}}] | {{event.start}}s</h4>
                  <p>Friday, 9 June 2017</p>
                  <div class="dots"><img src="assets/images/more.png"></div>
                </div>
              </a>
            </li>

          </ng-container>
        </ul>
      </perfect-scrollbar>
    </div>
  </div>

</div>
