:host >>> datatable-body-cell.datatable-body-cell.sort-active {
    word-break: break-all;
}
:host >>> .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
    background-color:#009cff;
}
select.form-control{
    height: auto !important;
}


.videos-list{
    max-width: 1600px!important;
    width: 100%!important;
}

.loginOverLay {
    display: table;
    background: rgba(255,255,255,0.7);
    /*background-image: url(../img/pattern/overlay-pattern.png);*/
    z-index: 1000;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 7000;
}

    .loginOverLay > div {
        display: table-cell;
        vertical-align: middle;
        height: 125px;
        width: 125px;
        margin: 0px auto;
        text-align: center;
    }

        .loginOverLay > div > img {
            width: 120px;
            height: 120px;
        }

i{
    cursor: pointer;
}        

.msg-section{margin-bottom: 5px;}
.profile-pic{width:36px;height: 36px;display: inline-block;border-radius: 50%;background-color: #9aca3e;margin-right: 10px;vertical-align: top;}
.profile-pic img{width: 100%;height: auto;overflow: hidden;border-radius: 50%;}
.user-name{width:calc(100% - 49px);display: inline-block;}
.name{width: 34%;display: inline-block;color: #ccc;font-size: 14px;margin-right: 10px;float: left;vertical-align: middle;margin-top: 0px;}
.msg{width: 59%;display: inline-block;color: #000;font-size: 14px;font-weight: normal;vertical-align: middle;float: right;}  

:host >>> .counterusersdatatable datatable-header.datatable-header{
    display: none !important;
  }
  
  :host >>> .ngx-datatable.counterusersdatatable .datatable-body .datatable-scroll{
    display: none;
  }
  
  :host >>> .counterusersdatatable datatable-body.datatable-body {
    display: none !important;
  }