<div class="loginOverLay" *ngIf="showProgressBar">
  <div>
    <img src="../../assets/images/default.gif" />
  </div>
</div>

<div class="container videos-list" style="margin-top:10px;">
  <div>
    <h3 style="display: inline-block;">Video list</h3>

    <button class="btn btn-default pull-right" style="margin-top: 15px;" (click)="deleteSelected()">Delete Videos</button>
    <div class="row">
      <div class="col-md-3 no-padding" style="margin-right: 5px;">
        <label>Club: </label>
        <select *ngIf="(!isClub)" name="searchClub" #searchclub class="form-control" (change)="onChangeofActivatedSearch()" [(ngModel)]="search.ActivatedClub">
          <option value="null">All </option>
          <option *ngFor="let club of clubList" [ngValue]="club._id">{{club.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <ngx-datatable class="material" [limit]="page.limit" [headerHeight]="35" [footerHeight]="50" [columnMode]="'force'" [rows]="videoListData"
    [loadingIndicator]="loadingIndicator" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
    (page)='setPage($event)' [externalSorting]="true" (sort)="onSort($event)">


    <!-- <ngx-datatable-column name="_id">
      <ng-template let-column="title" ngx-datatable-header-template>
        <md-checkbox [checked]="isAllChecked()" (change)="checkAll($event)"> </md-checkbox>
         <md-checkbox ng-model="event" [checked] class="more-events" id="{{value}}" (change)="selectEvent($event,event)"></md-checkbox> 
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <md-checkbox ng-model="multiDelete" [checked] class="more-events" (value)="value" id="event{{value}}" (change)="selectVideo($event,value)"></md-checkbox>
      </ng-template>
    </ngx-datatable-column> -->
    <ngx-datatable-column [width] = "30">
      <ng-template let-column="column" ngx-datatable-header-template>
        <md-checkbox [(ngModel)]="isAllSelected" (change)="onChangeOfcheckAll($event)"> </md-checkbox>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <md-checkbox [(ngModel)]="row.isSelected" (change)="onChangeOfCheckbox($event,row)"> </md-checkbox>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [width] = "300">
      <ng-template let-column="column" ngx-datatable-header-template>
        Video Details
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <span *ngIf="(row.type!='Training')">
          <span *ngIf="(row.club1details && row.club1details.length > 0)"> {{row.club1details[0].name}}</span> vs
          <span *ngIf="(row.club2details && row.club2details.length > 0)"> {{row.club2details[0].name}}</span>
        </span>
        <span *ngIf="(row.type=='Training')"> {{row.title}}</span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="type" [width] = "120">

      <ng-template let-column="type" ngx-datatable-header-template>
        Type
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>

        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="ofilename" [width] = "150">

      <ng-template let-column="ofilename" ngx-datatable-header-template>
        Filename
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="club" [width] = "150">

      <ng-template let-column="club" ngx-datatable-header-template>
        Club
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
        <!--{{value.club}}-->
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="viewCounter" [width] = "80">

      <ng-template let-column="club" ngx-datatable-header-template>
        View Counter
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
        <!--{{value.club}}-->
      </ng-template>

    </ngx-datatable-column>

    <ngx-datatable-column name="calculatedSize" [width] = "100">

      <ng-template let-column="calculatedSize" ngx-datatable-header-template>
        Size
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>

    </ngx-datatable-column>

    <!--<ngx-datatable-column *ngIf="isClub" name="startTime">

      <ng-template let-column="startTime" ngx-datatable-header-template>
        Upload Start Time 
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value | date:'yyyy-MM-dd HH:mm:ss'}}
      </ng-template>

    </ngx-datatable-column>-->

    <ngx-datatable-column name="endTime" [width] = "200">

      <ng-template let-column="endTime" ngx-datatable-header-template>
        Upload End Time
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{value | date:'yyyy-MM-dd HH:mm:ss'}}
      </ng-template>

    </ngx-datatable-column>

    <ngx-datatable-column name="id" sortable="false" [width] = "160">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        Action
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <!-- <button (click)="confirmDelete(value)" [disabled]="row['status']==='BLOCKED'">
            <i class="fa fa-trash-o"></i>
        </button> -->
        <i class="fa fa-users text-info" title="View Counter Users" (click)="ShowCounterUsersModel(row._id)" aria-hidden="true"></i>
        <i class="fa fa-share-alt fa-lg text-success" title="Share" aria-hidden="true" (click)="assignVideo(row._id)"></i>&nbsp;
        <i class="fa fa-cog fa-lg text-info" title="Settings" aria-hidden="true" [routerLink]="['/backoffice/videos-settings',row._id]"></i>&nbsp;
        <i class="fa fa-trash fa-lg text-danger" title="Delete" aria-hidden="true" (click)="confirmDelete(value)"></i>
        <i (click)="downloadVideo(row,$event)" title="Download" class="fa fa-download fa-lg text-info"></i>

      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <div #htmldiv>
    <a #lnkDownloadLink style="display: none;" target="_self" href="{{videoUrl}}" download="{{videoOriginalName}}">downlaod</a>
  </div>

</div>
<modal #videoSucessModal>
  <modal-header>

  </modal-header>
  <modal-content>
    <p>
      <i class="fa fa-check" aria-hidden="true"></i>
    </p>
    <p>
      {{successmsg}}
    </p>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="videoSucessModal.close()">Ok</button>
  </modal-footer>
</modal>
<modal #videoErrorModal class="error-modal">
  <modal-header>

  </modal-header>
  <modal-content>
    <p>
      <i class="fa fa-close" aria-hidden="true"></i>
    </p>
    <p>
      {{errormsg}}
    </p>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="videoErrorModal.close()">Ok</button>
  </modal-footer>
</modal>
<modal #assignVideoModal>
  <modal-header>


  </modal-header>
  <modal-content>
    <p>
      Share Video
    </p>
    <div class="col-md-12">
      <label class="col-md-3 control-label"> Users: </label>
      <ss-multiselect-dropdown class="col-md-6" [options]="userlistOptions" [texts]="userlistTexts" [settings]="userlistSettings"
        [(ngModel)]="userlistModel"></ss-multiselect-dropdown>
    </div>
    <div class="form-group pull-left" style="margin-top: 5%" *ngIf="updateMessage">
      <span class="col-md-12">{{updateMessage}}</span>
    </div>
  </modal-content>
  <modal-footer>

    <button class=" btn btn-primary " [disabled]="!userlistModel || userlistModel?.length==0 " (click)="usersToVideo() ">Share</button>
    <button class="btn btn-primary " (click)="assignVideoModal.close() ">Cancel</button>


  </modal-footer>
</modal>

<modal #counterUsersModal class="counter-users-modal">
  <modal-header>

  </modal-header>
  <modal-content>
    <p>
      Users
    </p>
    <div class="col-md-12">
      <div *ngFor="let user of counterUserList" class="msg-section">
        <div class="profile-pic">
          <img src="{{user.profileImg}}" (error)="setDefaultPic(user)" alt="profile picture">
        </div>
        <div class="user-name">
          <div class="name">{{user.userdetails.firstName}} {{user.userdetails.lastName}}</div>
          <div class="msg">had seen before {{user.timespan}}</div>
        </div>
      </div>

      <ngx-datatable class="material counterusersdatatable" [limit]="counterUsersPage.limit" [headerHeight]="35" [footerHeight]="50"
        [columnMode]="'force'" [rows]="counterUserList" [loadingIndicator]="loadingIndicator" [rowHeight]="'auto'" [externalPaging]="true"
        [count]="counterUsersPage.totalElements" [offset]="counterUsersPage.pageNumber" (page)='getCounterUsers($event)'>

        <ngx-datatable-column name="_id">

          <ng-template let-column="_id" ngx-datatable-header-template>
            Type
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>

            {{value}}
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>

    </div>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="counterUsersModal.close()">Ok</button>
  </modal-footer>
</modal>