<p>
  home works! <span class="icon icon-upload icon-2x"></span>
</p>
 <ion-range-slider #advancedSliderElement
          type="single"
          min="0"
          max="100"
          from="28"
          from_min="10"
          from_max="30"
          from_shadow="true"
          to="40"
          to_min="40"
          to_max="90"
          to_shadow="true"
          grid="true"
          grid_num="10"
          prefix="Weight: "
          postfix=" million pounds"
          decorate_both="false"
          ></ion-range-slider>
