<p>
  home works! <span class="icon icon-upload icon-2x"></span>
</p>
 <ion-range-slider #advancedSliderElement
          type="single"
          min="0"
          max="100"
          from="0"
          from_min="0"
          from_max="90"
          from_shadow="true"
          to="90"
          to_min="0"
          to_max="90"
          to_shadow="true"
          grid="true"
          grid_num="10"
          prefix=""
          postfix=" min"
          decorate_both="false"
          ></ion-range-slider>
