<div class="loginOverLay" *ngIf="showProgressBar">
  <div>
    <img src="../../../../assets/images/default.gif" />
  </div>
</div>
<div class="container" style="margin-top:10px;">
  <h3 style="display: inline-block; margin-top: 10px;">Event list</h3>
  <button class="btn btn-default pull-right action-button" (click)="deleteSelected()">Delete Selected</button>
  <button class="btn btn-default pull-right action-button" (click)="approveSelected()">Approve Selected</button>
  <button class="btn btn-default pull-right action-button" (click)="disapproveSelected()">Disapprove Selected</button>
  <ngx-datatable #activetable class="material" [limit]="10" [headerHeight]="50" [footerHeight]="50" [columnMode]="'force'"
    [rows]="trackingJsonData">
    <!-- <ngx-datatable-column [flexGrow]="3" name="Id" prop="eid"> </ngx-datatable-column> -->
    <ngx-datatable-column>
      <ng-template let-column="column" ngx-datatable-header-template>
        <md-checkbox [(ngModel)]="isAllSelected" (change)="onChangeOfcheckAll($event)">All </md-checkbox>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <md-checkbox [(ngModel)]="row.isSelected" (change)="onChangeOfCheckbox($event,row)"> </md-checkbox>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Name" prop="name"> </ngx-datatable-column>
    <ngx-datatable-column name="Start" prop="start"> </ngx-datatable-column>
    <ngx-datatable-column name="End" prop="end"> </ngx-datatable-column>
    <ngx-datatable-column name="Team" prop="team"> </ngx-datatable-column>
    <ngx-datatable-column name="Created By" prop="createdBy"> </ngx-datatable-column>

    <ngx-datatable-column name="Approved" prop="active"> </ngx-datatable-column>


    <ngx-datatable-column name="Action">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <!-- <i class="fa fa-eye text-info" (click)="viewEvent(row)" aria-hidden="true"></i> -->
        <i *ngIf=row.active class="fa fa-ban deactive fa-lg text-muted" title="Deactivate" aria-hidden="true" (click)="deactivateEvent(row)"></i>
        <i *ngIf=!row.active class="fa fa-check-square fa-lg text-success" title="Activate" aria-hidden="true" (click)="activateEvent(row)"></i>
        <i class="fa fa-pencil fa-lg edit text-info" title="Edit" aria-hidden="true" (click)="editEvent(row)"></i>
        <i class="fa fa-trash fa-lg delete text-danger" title="Delete" aria-hidden="true" (click)="deleteEvent(row)"></i>

      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>
<modal #updateEventlistModal>
  <modal-header>
  </modal-header>
  <modal-content>
    <p>
      Update Event
    </p>
    <form (ngSubmit)="updateEvent()" #documentEditForm="ngForm">
      <div class="col-md-12">
        <div class="form-group">
          <label class="col-md-4 control-label">Name</label>
          <input type="text" name="eventName" [(ngModel)]="ename" #eName="ngModel" class="form-control col-md-6" placeholder="Name"
            required>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">Team</label>
          <input type="text" name="eventTeam" [(ngModel)]="eteam" #eTeam="ngModel" class="form-control col-md-6" placeholder="Team"
            required>
        </div>
        <div class="form-group">
          <label class="col-md-6 control-label">Start (HH:MM:SS)</label>
          <input type="time" name="eventStart" step="1" min="00:00:00" max="23:59:59" [(ngModel)]="eventstart" class="form-control col-md-6"
            placeholder="Start" required>
        </div>
        <div class="form-group">
          <label class="col-md-6 control-label">End (HH:MM:SS)</label>
          <input type="time" name="eventEnd" step="1" min="00:00:00" max="23:59:59" [(ngModel)]="eventend" class="form-control col-md-6"
            placeholder="End" required>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group pull-left" style="margin-top: 5%" *ngIf="saveMessage">
          <span class="col-md-12">{{saveMessage}}</span>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" [disabled]="!documentEditForm.form.valid">Update</button>
        <button class="btn btn-primary" (click)="updateEventlistModal.close()">Cancel</button>
      </div>
    </form>
  </modal-content>
</modal>
<modal #SucessModal>
  <modal-header>

  </modal-header>
  <modal-content>
    <p>
      <i class="fa fa-check" aria-hidden="true"></i>
    </p>
    <p>
      {{successmsg}}
    </p>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="SucessModal.close()">Ok</button>
  </modal-footer>
</modal>
<modal #ErrorModal class="error-modal">
  <modal-header>

  </modal-header>
  <modal-content>
    <p>
      <i class="fa fa-close" aria-hidden="true"></i>
    </p>
    <p>
      {{errormsg}}
    </p>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="ErrorModal.close()">Ok</button>
  </modal-footer>
</modal>